{{- if eq .chezmoi.arch "arm64" }}
eval "$(/opt/homebrew/bin/brew shellenv)"
eval "$(/opt/homebrew/bin/mise activate zsh)"
{{- else }}
eval "$(/usr/local/bin/brew shellenv)"
eval "$(/usr/local/bin/mise activate zsh)"
{{- end }}

function mise_upgrade() {
    mise upgrade --bump
}

eval "$(starship init zsh)"
