eval "$(/opt/homebrew/bin/brew shellenv)"
eval "$(/opt/homebrew/bin/mise activate zsh)"

function update() {
    chezmoi update

    brew analytics off
    brew update
    brew upgrade --greedy
    brew cleanup

    mas upgrade

    mise upgrade --bump
    chezmoi add ~/.config/mise/config.toml
    if chezmoi diff ~/.config/mise/config.toml | grep -q .; then
        chezmoi git add dot_config/mise/config.toml
        chezmoi git -- commit -m "mise updates"
        chezmoi git push
    fi

    source ~/.zshrc
}

function gadampie() {
    ghorg clone adampie --token=$(op item get --vault 'Private' 'ghorg - adampie' --fields=credential --reveal) \
        --scm=github \
        --protocol=ssh \
        --path="$HOME/Code" \
        --clone-type=user \
        --include-submodules \
        --fetch-all
}

function gfricory() {
    ghorg clone fricory --token=$(op item get --vault 'Private' 'ghorg - fricory' --fields=credential --reveal) \
        --scm=github \
        --protocol=ssh \
        --path="$HOME/Code" \
        --clone-type=org \
        --include-submodules \
        --fetch-all
}

function updatecode() {
    adampie
    fricory
}

function cursorrules() {
    cp ~/.cursorrules .
}

function brewtree() {
    brew deps --tree --installed
}

eval "$(starship init zsh)"
